API_BASE_URL=http://localhost:8080
PORT=8080
JWT_SECRET=%^4*5qZ#ePVG#fD2
DATABASE_URL=postgres://username:password@host:port/database
AWS_ACCESS_KEY_ID=42EJUVRX84TWZEVBQMH3
AWS_SECRET_ACCESS_KEY=kErzFYX9Wjue9EX2xAPaZK4nwNF23PbzRajA3jPg
AWS_BUCKET=cdn.example.com
AWS_REGION=us-east-1